[submodule "external/mulib"]
	path = external/mulib
	url = git@code.siemens-energy.com:psc-development/p2d2/software/mulib.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
